html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    position: relative;
    margin: auto auto;
    text-align: center;
}

article {
    position: relative;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input {
    width: 250px;
    height: 60px;
    background-color: black;
    color: white;
    border: solid 1px black;
    font-size: 16pt;
    transition: linear 0.2s;
}

input:hover {
    background-color: white;
    color: black;

}

#outputLabel {
    border-top: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 50px;
    font-size: 54pt;
    color: red;
    
}

